.button_cart_container{
    display: flex;
    margin-right: 20px;
    height: 60px;
    min-width: 150px;
    
    align-self:center;
    border: 3px solid #215f0896;
}

.button_cart{
    display: flex;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #215f0896;

}



.button_cart_img{
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
    
}


.button_cart_itens{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: whitesmoke;
    height: inherit;
    width: 100%;
    cursor: pointer;
}

.button_cart_itens span{
    margin-top: 5px;
    margin-bottom: 5px;
}

