.header{
    margin: 30px;
    height: 15vh;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    grid-column: span 4;
}

.header h1{
    color: whitesmoke;
    opacity: 0.9;
    text-align: center;
}

.header p{
    color: whitesmoke;
    margin: 10px;
}